.row{
    background-color:rgb(236, 223, 250);
    padding: 20px;
}

.bg-3{
    background: linear-gradient(to right, rgb(180, 144, 251), rgb(236, 223, 250));
    z-index: 2;
    background-size: cover;
    transition: all 0.5s ease;
 }

 h1.t-stroke{
    padding: 10px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
}