<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="70"
        [radius]="100"
        [imageSrc]="'../assets/HTML5-icon.png'"
        [imageHeight]="110"
        [imageWidth]="110"
        [showUnits]="false"
        [showSubtitle]="false"
        [showImage]="true"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'violet'">
        [innerStrokeColor]="'orange'"
        [animation]="true"
        [animationDuration]="500">
    </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/CSS3-icon.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'violet'">
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/javascript-icon-png-23.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'violet'">
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/Python.svg.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'violet'">
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/ps.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'violet'">
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="100"
            [radius]="100"
            [imageSrc]="'../assets/team.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'violet'">
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [imageSrc]="'../assets/creativity.png'"
            [imageHeight]="130"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'violet'">
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/comunicar.png'"
            [imageHeight]="110"
            [imageWidth]="180"
            [showUnits]="false"
            [showSubtitle]="false"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'violet'">
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [imageSrc]="'../assets/adaptar.png'"
            [imageHeight]="110"
            [imageWidth]="110"
            [showUnits]="false"
            [showSubtitle]="false"
            [showImage]="true"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'violet'">
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="500">
        </circle-progress>
    </div>
</div>