<div class="container-fluid">
    <a href="index.html">
        <img src="../../../assets/APLOGO.png" style="width:150px"></a>
    <div class="icons">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
            <a href="https://www.instagram.com/dani_barreraa/" class="icon icon--instagram">
                <i class="ri-instagram-line"></i>
            </a>
            <a href="https://twitter.com/DaaniiBaarrera" class="icon icon--twitter">
                <i class="ri-twitter-line"></i>
            </a>
            <a href="https://www.linkedin.com/in/daniela-barrera-af/" class="icon icon--linkedin">
                <i class="ri-linkedin-line"></i>
            </a>
            <a href="https://github.com/Dani-AF" class="icon icon--github">
                <i class="ri-github-line"></i>
            </a>
    </div>
</div>