*{
    font-family: Helvetica;
}

.container-fluid {
    background-color: rgb(75, 56, 112);
}

.row{
    max-width: 100%;
    max-height: 100%;
}

.logo {
    max-width: 85%;
    margin-top: 0;
    display: flex;
}
.icons {
    max-width: 15%;
    height: 20px;
    display: inline-flex;
    column-gap: 15px;
    margin-top: 20px;
   }

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    border-radius: 50%;
    outline: 1.5px solid #fff;
    transition-property:
        outline-offset, outline-color,
        background-color;
    transition-duration: .25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon:hover i {
    animation: shake .25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%, #fdf497 5%,
            #fd5949 45%, #d6249f 60%,
            #285AEB 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #551ea4;
    outline-color: #34026c;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

.container-portada {
    width: 100%;
    height: 0%;
    background-image: url(../../../assets/stars-neon-lights-4k-blue-background-creative.jpg) ;
    background-size: 50%;
    animation: movimiento 10s infinite linear alternate;
    position: relative;
}

@keyframes movimiento {
    from {
        background-position: bottom top left;
    }to{
        background-position: top right;
    }
}


.container-details {
    width: 100%;
    max-width: 1200px;
    position: relative;
}

.details {
    width: 100%;
    max-width: 500px;
    position: relative;
    top: 20px;
    left: 50%;
}

.details h1 {
    font-size: 100px;
    font-weight: bold;
    font-family: Helvetica;
    padding: 0.5em 0.5em 0.5em;
    color: white;
}

/*titulo "Mi portfolio"*/

@media (min-width: 1800px) {
    #portfolio {
        position: relative;
        font-family: "Franklin Gothic";
        text-align: center;
        left: 20%;
        text-shadow: 7px 4px 5px rgb(0, 0, 0);
    }
}

@media (max-width: 1799px) {
    #portfolio {
        position: relative;
        font-family: "Franklin Gothic";
        text-align: center;
        text-shadow: 7px 4px 5px rgb(0, 0, 0);
    }
}