<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Secundario - Instituto Pedro Ig de Castro Barros</h2> - 
                <h3>(2010)</h3>
            </li>
                <p> Bachiller con orientación en la producción de bienes y servicios</p>
            <li>
                <h2>Instituto Superior Politécnico de Córdoba</h2> - 
                <h3>(CURSANDO)</h3>
            </li>
                <p> Tecnicatura superior en Desarrollo Web y aplicaciones digitales</p>
            <li>
                <h2>Argentina Programa - Ministerio de Desarrollo Social</h2> - 
                <h3>(CURSANDO - 2022)</h3>
            </li>
                <p> Full Stack Developer Jr</p>
        </ul>
    </div>
</div>