<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/DANI.jpg" class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Daniela Eugenia Barrera Meloni </p>
        <p id="titulo"> Full Stack Developer Jr </p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <Span>
            <h1> Acerca de mí </h1>
            <p> Actualmente soy estudiante de la segunda etapa de Argentina Programa #YoProgramo. Me gusta todo lo que tenga que ver con el diseño y poder crear e innovar .</p>
        </Span>
    </div>
</div>