.row {
    box-sizing: content-box;
    
    padding: 0;
}

div {
    background-color: rgb(180, 144, 251);
    text-align: center;
}

/*nombre*/

#nombre {
    font-weight: bold;
    margin-top: 5%;
    margin-left: 10px;
    font-size: 25px;
    font-family: "Helvetica Neue", "Helvetica";
}

/* Titulo */

#titulo {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 15px;
    font-family: "Helvetica Neue", "Helvetica";
}
/*perfil*/

@media (min-width: 576px) {
    #perfil {
        position: absolute;
        width: 12%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 2%;
        top: 330px;
    }
}

@media (max-width: 575px) {
    #perfil {
        position: sticky;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 10%;
        top: 60%;
    }
}